
body {
    background-color: rgb(250, 250, 250);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

small {
    font-size: small;
    color: rgb(95, 95, 95);
    background: rgb(143, 255, 143);
    padding: 3px;
    border-radius: 5px;
    margin: 0 auto;
}

form {
    max-width: 600px;
    margin: 0 auto;
    ;
}

fieldset,
legend {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

fieldset {
    background-color: rgb(255, 255, 255);
    font-size: large;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(95, 95, 95);
    background: rgb(249, 255, 197);
}

.form-group {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.radio-group,
.check-group {
    display: flex;
    gap: 20px;

}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(76, 0, 255);
}

input:focus {
    background-color: rgb(186, 255, 168);
}

input[type="radio"]:focus,
input[type="checkbox"]:focus {
    box-shadow: 0px 0px 5px rgb(76, 0, 255);
    border: 1px solid rgb(76, 0, 255);
}