
h1 {
    font-family: verdana;
    color: blue;
    font-size: 50px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 30px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    font-size: 20px;
    background-color: black";
}