body {
    background-color: aqua;
    margin: 0 auto;
    padding: 0;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex: 1;
    gap: 20px;
    margin: 20px 50px;
}

.columna-1,
.columna-2 {
    text-align: center;
    width: 100%;
    padding-top: 10px;
}

.columna-1 {
    background-color: grey;
    height: 200px;
    text-align: center;
}

.columna-2 {
    background-color: darkslategrey;
    height: 400px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    color: white;
    background-color: black;
    padding: 5px;
}